.visually-hidden{
  padding: 0;
  margin: 0;

  width: 0px;
  height: 0px;
  position: absolute;
  visibility: hidden;
}


body{
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow","Aria", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f7f4f1;

  background-image: url("../img/index/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: black;
}

.container{
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-header{
  margin-bottom: 75px;
}

.main-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-nav,
.user-nav{
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-wrapp{
  width: 100%;
  background-color: black;
  margin-bottom: 60px;
}

.main-header-logo{
  order: 2;
}

.site-nav{
  width: 620px;
}

.user-nav{
  width: 140px;
  margin-left: auto;
}

.site-nav a,
.user-nav a{
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #f7f4f1;
}

.nav-wrapp .container{
  display: flex;
}

.features{
  margin-bottom: 80px;
}

.features-list{
  display: flex;
  justify-content: space-between ;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.features-item{
  width: 300px;
}

.features-list h3{
  font-size: 30px;
  line-height: 42px;
}

.wrapper-blocks{
  display: flex;
  color: black;
  background-color: grey;
  background-image: url("../img/bg-all.png");
  background-repeat: repeat;
}

.wrapper-blocks h2{
  font-size: 30px;
  line-height: 42px;
}


.button{
  font: inherit;
  background-color: #000000;
  color: white;
  text-decoration: none;

  border: 0px;
  border-radius: 0px;
  text-align: center;
  vertical-align: middle;
}

.news{
  margin-right:100px;
}

.news-list{
  list-style: none;
  width: 380px;
  padding: 0px;
  margin: 0px;
}

.news-list time{
  transform: none;
}

.fotogallery{
  width: 300px;
}

.fotogallery img{
  border: 7px solid #ffffff;
  background-color: #ffffff;
}

.fotogallery figure{
  margin: 0px;
  padding: 0px;
}

.contacts{
  margin-right: 100px;
  width: 380px;
}

.booking{
  width: 300px;
}

.booking p{
  display: flex;
  flex-direction: column;
}

.booking input{
  background-color: transparent;
  border: 2px solid black;

}

.main-footer{
  width: 100%;
  color: white;
  background-color: #252525;
  margin-top: 65px;
}

.main-footer .container{
  display: flex;
  padding-top: 60px;
}

.footer-contacts a{
  color:white;
}

.footer-contacts{
  margin-right: 90px;
  width: 310px;
}

.social{
  width: 150px;
  text-align: center;
  margin-right: 265px;
}

.social-list{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.social-button{
  text-align: center;
}

.copyright{
  width: 140px;
  text-align: center;
}

.modal{
  color:black;

  background-image: url("../img/bg-all.png");
  background-color: white;
  background-repeat: repeat;
}

.modal h2{
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"]{
  font: inherit;
  text-transform: uppercase;
  color: black;

  background color: #f9f6f3;
  border: 2px solid black;
}

.inner-page{
  color: black;


  background-color: grey;
  background-image: url("../img/bg-all.png");
  background-repeat: repeat;

}
.price-page{
  line-height: 18px;
}

.headcrumbs{
  list-style: none;
}


.headcrumbs a{
  color: black;
  text-decoration: none;
}

.headcrumbs .headcrumbs-active{
  color: #aba9a7;
}

.options h2{
  font-size: 24px;
  line-height: 30px;
}

.options ul{
  list-style: none;
}

.item-list{
  list-style: none;
}

.buy{
  background-color: #e5e5e5;
}

.item {
  background-color: #ffffff;
}

.navigation-list{
  list-style: none;
}

.inner-page h1{
  font-size: 30px;
  line-height: 42px;
}

.lead-text{
  font-size: 48px;
  line-height: 48px;
}

.price-arsenal h2{
  font-size: 24px;
  line-height: 30px;
}

.arsenal-list{
  list-style: none;
}

.price h2{
  font-size: 24px;
  line-height: 30px;
}

.prices{
  border: 2px solid black;
}

.prices td{
  padding: 0;
}

.prices td:nth-child(2){
  border-left: 1px solid black;
}


.price-about h2{
  font-size: 24px;
  line-height: 30px;
}

.additional-foto{
  list-style: none;
}

.aricul{
  color: #aba9a7;
}

.item-goods{
  list-style: none;
}
